.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.background-image{
  background-image: url(./components/images/bg-img.jpeg);
  width: 1439px;
height: 682px;
}