.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.background-image{
  background-image: url(./components/images/bg-img.jpeg);
  width: 1439px;
height: 682px;
}

.overlay-image{ 
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  margin-left: 20px;
  width: 1388px;
height: 663px;
background: rgba(0, 0, 0, 0.04);
border: 1px solid rgba(0, 0, 0, 0.2);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 30px;
}

.leaveimg, .leave2{
  width: 338px;
height: 663px;
border: 1px solid rgba(0, 0, 0, 0.2);
border-radius: 30px;
opacity: 1;
transition: .9s ease-in-out;}

.leaveimg:hover, .leave2:hover{
	opacity: .5;
}

.info{
  width: 350px;
height: 245px;
font-family: 'Antonio';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 35px;
color: #132F3A;
margin-left: 20px;
margin-bottom: 150px;
}

.overlay-content{
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 60px;
width: 567px;
height: 33px;
}

.link{
text-decoration: none;
font-family: 'Nunito';
font-style: normal;
font-weight: 500;
font-size: 22px;
color: #132F3A;
margin-bottom: 600px;
}

.link:hover{
  color: rgb(209, 47, 174);
}

.active-link{
  border-bottom: 2px solid rgb(209, 47, 174); /* Example underline color */
  padding-bottom: 2px;
  color: rgb(209, 47, 174);
  font-size: 26px;
}

.icon{
  width: 37px;
height: 37px;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
margin: 5px;}

.icon:hover{
  color: rgb(209, 47, 174);
  width: 40px;
  height: 40px;
}

.icons-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  left: 100px;
  margin-right: 240px;
  border-bottom: 2px solid #000000; /* Example underline color */
  padding-bottom: 2px;
  margin-top: 30px;
}